@font-face {
    font-family: 'Titillium Web';
    src: url(../fonts/TitilliumWeb-Regular.ttf);
  }
  body {
      line-height: 1.4 !important;
      font-size: 16px !important;
  }
  .mega-menu .menu-logo img {
      height: 100px !important;
  }
  
  .mega-menu .menu-logo {
      /* padding: 0px 0 0px !important; */
      padding: 2px;
  }
  
  .header.transparent {
      background: rgba(0, 0, 0, 0.6) !important;
  }
  
  .ar-bd-right {
      border-right: 6px solid #C21717 !important;
      padding-right: 20px !important;
  }
  
  .ar-bd-left {
      border-left: 6px solid #C21717 !important;
      padding-left: 20px !important;
  }
  
  .bg-theme-colored2 {
      background-color: #a7161b !important;
  }
  .text-theme-colored2{
      color: #C21717 !important;
  }
  .topbar {
      padding: 5px 0 !important;
  }
  .topbar-call ul li a {
      margin-right: 0px !important;
  }
  img#logo-footer {
      height: 80px !important;
  }
  
  .topbar a:hover {
      color: #ffffff !important;
      font-weight: bold;
  }
  
  .contact-box a:hover{
      color: #000000 !important;
  }
  .feature-text a:hover{
      color: #000000 !important;
  }
  ul.list i {
      top: 8px !important;
  }
  .process .border-area.left-bottom {
      background: #f7f7f7 !important;
  }
  .process .border-area.left-top {
      background: #f7f7f7 !important;
  }
  .process .border-area.right-top {
      background: #f7f7f7 !important;
  }
  .process .border-area.right-bottom {
      background: #f7f7f7 !important;
  }
  .team .team-description {
      padding: 20px 10px 10px !important;
  }
  
  .portfolio-item .portfolio-overlay {
      width: 100%;
      padding: 10px 0px;
      position: absolute;
      bottom: -130px;
      display: block;
      margin-top: 0;
      float: left;
      z-index: 9;
      text-align: left;
      padding-left: 10px !important;
      padding-right: 10px !important;
      left: 0;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
  }
  .redl-bg {
      background: #fff1f1;
      padding: 10px;
  }
  .mega-menu {
      z-index: 1000 !important;
  }
  .ar-profile-bg {
      background: #C21717 !important;
  }
  .text-argray{
      color: #e3e3e3 !important;
  }
  
  .ar-profile-bg a{
      color: #e3e3e3 !important;
  }
  .ar-profile-bg .font-16{
      font-size: 16px !important;
  }
  .ar-profile-bg ul.list li {
      line-height: 22px !important;
  }
  .team .team-info span {
      text-transform: none !important;
  }
  .holder { 
    width:300px;
    height:400px;
    overflow:hidden;
    padding:10px;
    font-family:Helvetica;
  }
  .holder .mask {
    position: relative;
    left: 0px;
    top: 10px;
    width:300px;
    height:290px;
    overflow: hidden;
  }
  .holder ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
  }
  .holder ul li {
    padding:10px 0px;
  }
  .holder ul li a {
    color:darkred;
    text-decoration:none;
  }
  .news-title {
      margin: 10px;
  }
  .contact-box a{
      color: white !important;
  }
  .service ul li a {
      text-transform: none !important;
      padding: 12px 16px !important;
  }
  
  
  .m-iitd {
      float: right !important;
      width: auto !important;
  }
  
  .m-dj-iitd {
      float: left !important;
      width: auto !important;
  }
  
  .dn {
      display: none !important;
  }
  
  .portfolio-item .portfolio-overlay {
      background: #1a1a1a !important;
  }
  
  .mega-menu > section.menu-list-items {
      background-color: #2f2f2f !important;
  }
  
  .quotes {display: none;}
  
  .mt-32 {
      margin-top: 32px !important;
  }
  
  .gold-m {
      color: #eacf0a !important
  }
  
  .silver-m {
      color: #989898 !important
  }
  
  .people-m {
      color: #8c6204 !important
  }
  
  .menu-links a.main:hover, .menu-links a.main:active, .menu-links a.main:focus, .mega-menu .menu-links > li.active a.main {
      color: #ffffff !important;
      font-weight: bold !important;
  }
  
  .mega-menu .drop-down a, .mega-menu .drop-down-tab-bar a {
      font-size: 0.9em !important;
  }
  
  #con-details .details {
      background: #404b69 !important;
      z-index: 999;
      position: fixed;
      margin: 0px;
      color: #fff;
      transition: all .5s ease-in-out;
      bottom: 49px;
      right: 15px;
      border-radius: 3px;
      z-index: 999;
      font-size: 11px;
      width: 40px;
      height: 40px;
      text-align: center;
      padding-top: 4px;
  }
  
  .font-10 {
      font-size: 10px !important
  }
  
  .table td, .table th {
      padding: 12px 20px !important;
  }
  
  .bg-theme {
      background: #C21717 !important;
      color: white !important;
  }
  
  .redd {
      color: #ff565f;
  }
  
  .yel {
      color: #ffe359;
  }
  
  .brdr {
      border-top: 2px solid #c21717;
      border-radius: 45px;
      border-right: 2px solid #c21717;
      border-left: 2px solid #c21717;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: transparent;
  }
  
  .flag-bg {
      background: url('../images/bg-flag.jpg');
  }
  
  .brdr1 {
      border: 2px solid #c21717;
      border-top: none;
  }
  
  .comments-1:nth-child(2n+1) .comments-photo {
      border: 5px solid #ffeded !important;
  }
  
  .comments-1:nth-child(2n+1) .comments-info {
      background: #ffeded  !important;
  }
  
  .img-brdr {
      border: 5px solid #ffeded !important;
  }
  
  .font-16 {
      font-size: 16px !important
  }
  
  .font-22 {
    font-size: 16px !important
  }
  
  .font-25 {
    font-size: 25px !important
  }
  

  
  iframe {
    border: none;
    width: 100%;
  }
  
  .ps-pad {
        padding: 18px !important;
  }
  
  .ps-sup {
      top: -0.7em !important;
  }
  
  .modal-body {
      padding: 0px 30px 0 30px !important;
  }
  
  .holderz {
      width: auto !important;
  }
  
  
  
  
  
  
  @media screen and (min-width: 992px){
      .mega-menu.desktopTopFixed .menu-list-items .menu-logo > li > a img {
      margin: 0px 0px !important;
      }
  }
  
  @media screen and (max-width: 500px){
      /*#slide-762-layer-1 {
      font-size: 15px !important;
      line-height: 12px !important;
      top: -6px !important;
      }*/
      /*#slide-763-layer-3 {
      font-size: 15px !important;
      line-height: 12px !important;
      top: -10px !important;
      }*/
      
      /*#slide-763-layer-4 {
      font-size: 15px !important;
      line-height: 17px !important;
      top: 4px !important;
      }
      
      #slide-762-layer-2 {
      font-size: 16px !important;
      line-height: 17px !important;
      }
      
      #slide-762-layer-3{
          font-size: 7px !important;
          padding: 6px 10px !important;
          top: 12px !important;
      }*/
      
      #slide-763-layer-2{
          font-size: 7px !important;
          padding: 12px 10px !important;
          top: -8px !important;
      }
      
      /*.tp-parallax-wrap {
      left: 20px !important;
      }*/
      
      /*.welcome-cap, #slide-762-layer-1 {
          font-size: 20px !important;
      }*/
      
      .convo-cap, #slide-762-layer-2 {
          font-size: 25px !important;
      }
  
    .resp-iitd {
      margin-right: 230px !important;
    }
  
    .resp-iitd-text {
      font-size: 15px !important;
      height: 50px !important;
    }
  
    .mt-resp {
      margin-top: 12px !important;
      float: left !important
    }
  
    .tp-caption {
      text-shadow: black 2px 2px !important;
      /*font-size: 30px !important;*/
      font-family: 'Titillium Web', sans-serif, Source Sans Pro, Helvetica Neue, Helvetica, Arial,sans-serif !important;
    }
  
    .convo-cap, .convo-cap span, .convo-cap, #slide-762-layer-2 {
      font-size: 43px !important;
    }
  
    #slide-762-layer-1 {
      top: -25px !important;
    }
  
    #slide-763-layer-1 {
      font-size: 20px !important;
    }
  
    #slide-763-layer-2 {
      font-size: 15px !important;
      top: 10px !important;
    }
  
    #slide-763-layer-4 {
      font-size: 30px !important;
    }
  
    .tp-parallax-wrap, .tp-loop-wrap, .tp-mask-wrap {
      width: 100% !important;
      text-align: center !important;
    }
    .rev-button {
      width: 150px !important;
      margin: auto !important;
    }
  
    .tp-parallax-wrap {
      left: 0 !important
    }
  
    .first-km {
      padding: 12px 10px !important;
      top: 30px !important;
      font-size: 15px !important;
    }
  
    .resp-dj {
      text-align: left !important;
      font-size: 20px !important;
      margin-left: 10px !important;
    }
  
    .resp-dj-km {
      text-align: center !important;
      font-size: 12px !important;
      margin-right: 10px !important;
      padding: 10px 10px !important;
      margin-top: 10px !important;
    }
    
    .menu-links a.main:hover, .menu-links a.main:active, .menu-links a.main:focus, .mega-menu .menu-links > li.active a.main {
          color: #525252 !important;
    }
    
    .resp-kmz {
      font-size: 15px !important;
      padding: 10px 10px !important;
      top: 15px !important;
    }
  }



/* hamburger css  */
  .hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }

  @media (max-width: 1000px) {
    .menu-links {
      display: none;
      flex-direction: column;
    }

    .hamburger {
      display: flex;
      align-items: center;
    }
  }